<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profit-Alerter</title>
    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Profit-Alerter </h1>
        </div>
    </div>

    <div class="container">
        <button onclick="orderProfits(100)" style="color:black;">Start Machine</button>

        <p id="server-time">
        </p>
        <p id="pair-data">
        </p>
        <div>
            <h4>Ticker Data</h4>
            <p id="ticker-data">
            </p>
        </div>
        <div>
            <h4>Order Info</h4>
            <p id="XBTEUR">
            </p>
            <p id="ETHXBT">
            </p>
            <p id="ETHEUR">
            </p>
            <p id="profit">
            </p>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/notifier.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
